
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BurgerHeaven Online</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
	<h1 style="font-size:100px;">Welcome to Burger Heaven Online</h1>

	<section>
	  <h2 style="font-size:60px;">Select burger</h2>
	  <p style="font-size:50px;">This section is for adding different burgers</p>
	</section>
	
	<section>
	  <h2 style="font-size:60px;">Customer information</h2>
	  <p style="font-size:50px;">This is where necessary information will be provided</p>
	  <h3 style="font-size:60px;">Delivery information</h3>
	  <p style="font-size:50px;">Information about the delivery</p>
	</section>

      </main>
      <footer>
      </footer>
    </body>
</html>
