
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BurgerHeaven Online</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
	<h1 style="font-size:100px;">Welcome to BurgerHeaven Online</h1>

	<section>
	  <h2 style="font-size:60px;">Select burger</h2>
	  <p style="font-size:50px;">This is where you execute burger selection</p>
	  <table>
	    <thead>
	      <tr>
		<th style="font-size:60px;">The Fire Burger </th>
		<th style="font-size:60px;">Fried Turkey Burger </th>
		<th style="font-size:60px;">A Double w/ Cheese </th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td><img src = "https://image.shutterstock.com/image-photo/closeup-home-made-tasty-burger-600w-1291051606.jpg" height = "800" width = "1000"></td>
		<td><img src = "https://assets.epicurious.com/photos/5748b2ed5a5fbbae31ae4af9/6:4/w_620%2Ch_413/shutterstock_148839410.jpg" height = "800" width = "1000"></td>
		<td><img src = "https://images.eatthismuch.com/site_media/img/331330_dylpill21_acbc0262-ff8f-4a8e-b6d0-25486109a502.png" height = "800" width = "1000"></td>
	      </tr>

	      <tr>
		<td>
		  <ul style = "font-size: 50px;">
		    <li> 750 kCal</li>
		    <li> Contains lactose </li>
		    <li> Contains gluten </li>
		  </ul>
		</td>
		<td>
		  <ul style = "font-size: 50px;">
		    <li> Deep fired Turkish turkey</li>
		    <li> A slice of pink stuff (contains lactose)</li>
		    <li> Shake n-bake gluten-free bread</li>
		  </ul>
		</td>
		<td>
		  <ul style = "font-size: 50px;">
		    <li> Two layers of pure meat</li>
		    <li> Lots of yummy cheese (contains lactose) </li>
		    <li> Sweet bread bun (contains gluten) </li>
		  </ul>
		</td>
	      </tr>
     
	    </tbody>
	  </table>
	</section>
	
	<section>
	  <h2 style="font-size:60px;">Customer information</h2>
	  <p style="font-size:50px;">This is where you provide necessary information.</p>
	  <h3 style="font-size:60px;">Delivery information</h3>
	  <p style="font-size:50px;">
	    <label for="fullname">Full Name</label><br>
	    <input style="font-size:50px;" type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name" />
	  </p>
	  <p style="font-size:50px;">
	    <label for = "email">E-mail</label><br>
	    <input style="font-size:50px;" type="email" id="email" name="em" required="required" placeholder="E-mail address" />
	  </p>
	  
	  <p style="font-size:50px;">
	    <label for="street">Street</label><br>
	    <input style="font-size:50px;" type="text" id="street" name="s" placeholder="Street name" />
	  </p>
	  <p style="font-size:50px;">
	    <label for="house">House</label><br>
	    <input style="font-size:50px;" type="number" id="house" name="h" placeholder="House number" />
	  </p>
	  <p style="font-size:50px;">
	    <label for="payment">Payment methods</label><br />
	    <select style="font-size:50px;" id="payment" name="p">
              <option style="font-size:50px;">Credit card</option>
              <option style="font-size:50px;">American Express</option>
              <option style="font-size:50px;">Cash at delivery</option>
              <option style="font-size:50px;">PayPal</option>
            </select>
	  <p style="font-size:50px;">
	    <label for="gender">Gender</label><br>
	    <input style="font-size:50px;" type="radio" id="gender" name="gender"  /> Male<br>
	    <input style="font-size:50px;" type="radio" id="gender" name="gender"  /> Female<br>
	    <input style="font-size:50px;" type="radio" id="gender" name="gender"  /> Non-binary<br>
	    <input style="font-size:50px;" type="radio" id="gender" name="gender" checked = "checked" /> Undisclosed<br>
	  </p>
	  
	</section>
	<input style="font-size:70px;"  type="submit" value="Place order" />
      </main>
      <footer>
	<HR>
	<p style = "font-size:50px;">2020 Hypothetical Burgers Inc.</p>
      </footer>
    </body>
</html>
