/* CSS document for index.html */ 


body {
    font-size: 60px;
    font-family: arial;
    text-align:center;
}

h1 {
    font-size:100px;

}


 /* BURGER SELECTION */
.allergy {
    font-weight: bold;
}

.burgers {
    background-color: black;
    color: white;
    text-align:center;
    border: 100px;
}

.burgertable {
    margin: 0 auto;
    padding: 50px;
}

.pictures {
    width: 35vh;
    height: 25vh;
}

.list {
    text-align: left;
}



/* CUSTOMER INFORMATION */

.customerinfo {
    font-size: 60px;
    
}

#payment {
    font-size: 60px;
}

#gender {
    font-size: 60px;
}

#email {
    font-size: 60px;
}

#street {
    font-size: 60px;
}

#house {
    font-size: 60px;
}

#fullname {
    font-size: 60px;
}



/* BUTTONS*/

#placebutton {
    font-size:60px;
}

button:hover {
    cursor:pointer;
    color: green;
}
